#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.pdb
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
*.sqlite
ipch/
[Oo]bj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#MonoDevelop
*.pidb
*.userprefs

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
*.sass-cache

#Project files
#[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*

# vim Temp Files
*~

#NuGet
#packages/
#*.nupkg

#ncrunch
*ncrunch*
*crunch*.local.xml

# visual studio database projects
*.dbmdl

#Test files
*.testsettings
/FlipdishWeb/UpgradeLog.htm
/FlipdishWeb/MigrationBackup

# Type Script
/FlipdishWeb/Flipdish.Web/Scripts/*.js.map
/FlipdishWeb/Flipdish.Web/Scripts/WebOrder.js

# Visual Studio Code files
.sonarqube
.vscode
.vs
.idea
/FlipdishWeb/.vs/config/applicationhost.config
/FlipdishWeb/Flipdish.Web/Scripts/SignupOrder/SignupOrderClient.js
/FlipdishWeb/Flipdish.Web/Scripts/SignupOrder/SignupOrderClient.js.map

FlipdishWeb/Flipdish.Web/localAppSettings.config
FlipdishWeb/Flipdish.Admin/localAppSettings.config
FlipdishWeb/Flipdish.API/localAppSettings.config
FlipdishWeb/Flipdish.Identity/localAppSettings.config

*.orig
FlipdishWeb/packages/

FlipdishWeb/Flipdish.Web/featureflagging_localhost.yml


#########NodeJS
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage
*.lcov

# nyc test coverage
.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Test Results reports and files
test-results.xml
E2ETests/cypress/screenshots
E2ETests/cypress/videos
E2ETests/mochawesome-report
E2ETests/yarn.lock


# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test

# parcel-bundler cache (https://parceljs.org/)
.cache

# Next.js build output
.next

# Nuxt.js build / generate output
.nuxt


# Gatsby files
.cache/
# Comment in the public line in if your project uses Gatsby and *not* Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# vuepress build output
.vuepress/dist

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port

.idea

### END NODEJS
E2ETests/cypress.env.json
E2ETests/data/
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
E2ETests/package-lock.json
*.feature.cs
FlipdishWeb/global.json

# Gitleaks
.gitleaks.toml

#Docker
FlipdishWeb/localhost.pfx
/cypress
/cypress.json

#NServiceBus
.learningtransport/
.diagnostics/
nsb_log_*.txt
FlipdishWeb/Flipdish.Web/localAppSettings.config

# Terraform
.terraform/
.terraform.lock.hcl
local.sh